<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Login Page</title>
</head>
<body>
  <div class="container">
    <img src="image.jpg" alt="Login Image">

    <form id="loginForm" action="/admin/login" method="post">
        <label for="email">Email</label>
      <input type="text" placeholder="email" name="email" id="username">
      <label for="password">Mot de passe</label>
      <input type="password" placeholder="Password" name="password" id="password">
      <button type="submit">Connexion</button>
    </form>
  </div>
  <script src="script.js"></script>
</body>
</html>