<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/file.css">
</head>
<body>
    <div class="conteneur">
        <div class="profile">
            <div>
                <img src="/image/WhatsApp Image 2024-03-20 à 15.51.43_d3002b2e.jpg" alt="">
            </div>
                <h1> Nom</h1>
                <hr>
                <p>commande</p>
                <p>Nom du produit</p>
                <p> Nom du vendeur</p>
                <p> Quantité: <strong>3</strong></p>
                <p>Montant: <strong>3000</strong></p>
                <p>Vous avez économisé jusqu'a <strong>3000</strong></p>
                <button>je confirme la collecte</button>
            

        </div>
        <div class="congra">
            <img src="/image/respectueux-de-la-nature.gif" alt="" height="200px">
            <h3>MERCI </h3>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut itaque est consectetur voluptatibus minima modi impedit quis corrupti quod illum ab, repudiandae, dignissimos sint eveniet accusantium, iste culpa in blanditiis!</P>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut itaque est consectetur voluptatibus minima modi impedit quis corrupti quod illum ab, repudiandae, dignissimos sint eveniet accusantium, iste culpa in blanditiis!</P>
        </div>
    </div>
</body>
</html>