<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Profil Utilisateur</title>
<link rel="stylesheet" href="css/profil.css">
</head>
<body>
<div class="profile">
    <img src="avatar.jpg" alt="Avatar" class="avatar">
    <h1>Nom de l'utilisateur</h1>
    <p>Email: utilisateur@example.com</p>
    <p>Ville: Ville de l'utilisateur</p>
    <button>Edit Profile</button>

    <div class="annonce">
        <div class="product-details tabcontent" id="tab2">
            <img src="/image/salad-from-tomatoes-cucumber-red-onions-lettuce-leaves-healthy-summer-vitamin-menu-vegan-vegetable-food-vegetarian-dinner-table-top-view-flat-lay.jpg"
                alt="Nom du Produit" width="200px" />
            <div>
                <h2>Nom du Produit</h2>
                <p>Prix: $XX.XX</p>
                <p>lieu</p>
            </div>
        </div>
    </div>
</div>
<div class="profile">
    <img src="avatar.jpg" alt="Avatar" class="avatar">
    <h1>Nom de l'utilisateur</h1>
    <form>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="utilisateur@example.com">

        <label for="ville">Ville:</label>
        <input type="text" id="ville" name="ville" value="Ville de l'utilisateur">

        <button>Enregistrer</button>
    </form>
</div>


</body>
</html>